<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='codemirror.js') }}"></script>
    <link href="{{ url_for('static', filename='codemirror.css') }}" rel='stylesheet'/>
    <script src="{{ url_for('static', filename='python.js') }}"></script>

    <title>Python Online Compiler</title>
  </head>
  <body style="font-family:Verdana;"><br>
    <h1 style="text-align: center;">Hello, this it the test version of Python Online Compiler</h1></br>
    <form name ='code_form' action="/runcode" method="post">
        <div class="form-group" style="margin-left: 50px; margin-right: 50px;">
          <label id='label1' for="input">Input</label>
          <textarea type="text" class="form-control" id="input" name="input" rows="10">{{ code }}</textarea>
          <script>
            var editor = CodeMirror.fromTextArea(document.getElementById('input'),{
                mode: 'python',
                indentUnit: 4,
                lineNumbers: true
            });
          </script>
        <div class="form-group" style="margin-left: 30px; margin-right: 40px;">
          <textarea type="text" class="form-control" id="stdin" name="stdin" rows="1"></textarea>
        </div>
        </div>
        <div class="form-group" style="margin-left: 50px; margin-right: 50px;">
            <label for="output">Output</label>
            <textarea type="text" class="form-control" id="output" name="output" rows="5" disabled>{{ output }}</textarea>
          </div>
        <button type="submit" class="btn btn-primary" style="margin-left: 50px;">Launch</button>
      </form>
  </body>
</html>